@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMCustomer
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <div class="modal-body">
            <form id="frmCurrPassword">
                <h2>Ubah Password</h2>
                <p>Masukkan password Anda saat ini </p>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <div class="input-container" style="position: relative; display: flex; align-items: center;">
                        <input type="password" class="form-control" id="password" style="padding-right: 40px;">
                        <span id="eye1" onclick="togglePassword('password')" class="toggle-password" style="position: absolute; right: 10px; cursor: pointer;">
                            <i onclick="togglePassword('password')" class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Masukkan ulang password*</label>
                    <div class="input-container" style="position: relative; display: flex; align-items: center;">
                        <input type="password" class="form-control" id="confirm-password" style="padding-right: 40px;">
                        <span id="eye2" onclick="togglePassword('confirm-password')" class="toggle-password" style="position: absolute; right: 10px; cursor: pointer;">
                            <i onclick="togglePassword('confirm-password')" class="fas fa-eye"></i>
                        </span>
                    </div>
                    <small id="password-alert" style="display: none; color: red;">* Password tidak sama</small>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnUpdatePassword1">Ubah Password</button>
        </div>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    $("#eye1").click(function (e) {
        e.preventDefault();
        togglePassword("password");
    });  

    $("#eye2").click(function (e) {
        e.preventDefault();
        togglePassword("confirm-password");
    });  

    
    function togglePassword(id) {
        var input = document.getElementById(id);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
        console.log("function togglePassword(id)");
    }

    
    function validatePassword(dbPassword) {
        var password = $("#password").val();
        var confirmPassword = $("#confirm-password").val();
        var alert = document.getElementById('password-alert');

        
        if (password === dbPassword && password === confirmPassword) {
            $("#staticModalBody").html("");
            $("#staticModalBody").load("/Profile/EditPassword/");
            $('#staticModal').modal('show');
        } else {
            $("#password-alert").show();
        }
    }

    $("#btnUpdatePassword1").click(function (e) {
        e.preventDefault();
        var dbPassword = "@ViewBag.Password";
        console.log("password from db : " + dbPassword);
        validatePassword(dbPassword);
    });

</script>

