@model List<VMMBiodataAddress>
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <i class="fas fa-exclamation-triangle fa-align-left float-xxl-start text-danger h1 me-3"></i>
        <span>Apakah Anda yakin ingin menghapus Biodata Alamat dengan Alamat berikut?</span>
        <ul>
            @foreach (var bioAddress in Model)
            {
                <li>@bioAddress.Address</li>
            }
        </ul>

        <span>Anda tidak dapat mengembalikan alamat yang sudah dihapus.</span>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button id="btnDelete" class="btn btn-danger">Confirm</button>
        &nbsp;
        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    $(document).on("click", "#btnDelete", function (e) {
        e.preventDefault();
        console.log("Delete button clicked");
        var ids = @Html.Raw(Json.Serialize(Model.Select(m => m.Id).ToList()));
        console.log("Deleting IDs: ", ids);
        $.ajax({
            url: "/Profile/MultipleDelete",
            type: "post",
            data: {
                'ids':ids.join(",")
            },
            dataType: "json",
            success: function (response) {
                if (response.statusCode == 200) {
                    alert(response.statusCode + "-" + response.message);
                    $("#alamat").html(response)
                }
            },
            error: function (errResponse) {
                console.error("Biodata Address Deletion Failed", errResponse);
            }
        });
    });
</script>