@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tindakan-tab" data-bs-toggle="tab" data-bs-target="#tindakan" type="button" role="tab" aria-controls="tindakan" aria-selected="true">Tindakan</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="aktivitas-tab" data-bs-toggle="tab" data-bs-target="#aktivitas" type="button" role="tab" aria-controls="aktivitas" aria-selected="false">Aktivitas</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="konsultasi-tab" data-bs-toggle="tab" data-bs-target="#konsultasi" type="button" role="tab" aria-controls="konsultasi" aria-selected="false">Konsultasi</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pengaturan-tab" data-bs-toggle="tab" data-bs-target="#pengaturan" type="button" role="tab" aria-controls="pengaturan" aria-selected="false">Pengaturan</button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="tindakan" role="tabpanel" aria-labelledby="tindakan-tab">
        <h3>Tindakan</h3>
        <p>Konten untuk tab Tindakan.</p>
    </div>
    <div class="tab-pane fade" id="aktivitas" role="tabpanel" aria-labelledby="aktivitas-tab">
        <h3>Aktivitas</h3>
        <p>Konten untuk tab Aktivitas.</p>
    </div>
    <div class="tab-pane fade" id="konsultasi" role="tabpanel" aria-labelledby="konsultasi-tab">
        <h3>Konsultasi</h3>
        <p>Konten untuk tab Konsultasi.</p>
    </div>
    <div class="tab-pane fade" id="pengaturan" role="tabpanel" aria-labelledby="pengaturan-tab">
        <h3>Pengaturan</h3>
        <p>Konten untuk tab Pengaturan.</p>
    </div>
</div>