@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#profil" role="tab"
           aria-controls="profil" aria-selected="true">Profil</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#alamat" role="tab"
           aria-controls="alamat" aria-selected="false">Alamat</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#pembayaran" role="tab"
           aria-controls="pembayaran" aria-selected="false">Pembayaran</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profil" role="tabpanel" aria-labelledby="profil-tab">
        <p class='my-2' id="profilContent">Loading...</p>
    </div>
    <div class="tab-pane fade" id="alamat" role="tabpanel" aria-labelledby="alamat-tab">
        <p class='my-2' id="alamatContent">Loading...</p>
    </div>
    <div class="tab-pane fade" id="pembayaran" role="tabpanel" aria-labelledby="pembayaran-tab">
        <p class='my-2' id="pembayaranContent">Loading...</p>
    </div>
</div>

<!-- Uncomment untuk load konten menggunakan AJAX -->
@*<script>
    $(document).ready(function () {
        // Fungsi untuk memuat konten menggunakan AJAX
        function loadTabContent(tabId, url) {
            $(tabId).html('Loading...'); // Set loading state
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    $(tabId).html(data); // Tampilkan konten yang diterima
                },
                error: function () {
                    $(tabId).html('Error loading content.'); // Jika ada error
                }
            });
        }

        // Muat konten pertama kali saat halaman dibuka
        loadTabContent('#profilContent', '/Profil/LoadProfilContent');

        // Set event handler untuk memuat konten berdasarkan tab yang diklik
        $('#home-tab').on('click', function (e) {
            e.preventDefault();
            loadTabContent('#profilContent', '/Profil/TabProfil');
        });

        $('#profile-tab').on('click', function (e) {
            e.preventDefault();
            loadTabContent('#alamatContent', '/Profil/TabAlamat');
        });

        $('#contact-tab').on('click', function (e) {
            e.preventDefault();
            loadTabContent('#pembayaranContent', '/Profil/TabPembayaran');
        });
    });
</script>*@
