@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMPaymentMethod?
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frmPaymentMethod">
            <div class="row mb-3">
                <div class="col-4">Name<span class="text-danger">*</span></div>
                <div class="col-8"><input class="form-control" type="text" name="Name" value="@Model.Name"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-10"></div>
        <div class="w-30"><button id="btnCancel" class="btn btn-outline-danger">Cancel</button></div>
        <div class="w-10"></div>
        <div class="w-30"><button id="btnSave" class="btn btn-outline-success">Save</button></div>
        <div class="w-10"></div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");

        $("#frmPaymentMethod").submit(function (e) {
            e.preventDefault();
        });

        $.validator.addMethod("alphanumeric", function (value, element) {
            //test user value with the regex
            return this.optional(element) || /^[\w\s]+$/i.test(value);
        }, "Only Alphanumeric and Space Characters are allowed!");

        $("#frmPaymentMethod").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 50,
                    minlength: 3,
                    alphanumeric: true
                }
            },
            messages: {
                Name: {
                    minlength: "Customer name must be at least 3 characters long.",
                    maxlength: "Customer name must be less than 50 characters."
                }
            }
        });

        $("#btnSave").click(function (e) {
            if ($("#frmPaymentMethod").valid()) {
                $.ajax({
                    url: "/PaymentMethod/Update",
                    type: "post",
                    data: $("#frmPaymentMethod").serialize(),
                    dataType: "json",
                    beforeSend: () => { },
                    success: function (response) {
                        if (response.statusCode == 200) {
                            location.reload();
                        }
                        else {
                            toastAlert(response.message, "error");
                        }
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                        toastAlert(errResponse, "error");
                    }
                });
            }
            else {
                console.error("Payment Method data is not valid!");
            }
            return false;
        });

        $("#btnCancel").click(() => {
            location.reload();
        })
    });
</script>
