@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMMCustomerMember>?;
@{
    Layout = null;
}

<div class="card mb-0">
    <div class="card-body mb-3">
        <p>Anda yakin ingin menghapus pasien </p>
        @foreach (var item in Model)
        {
            <p class="mb-0">&ensp;<b>@item.Fullname</b></p>
        }
        <p class="mt-3">Riwayat medis pasien akan tetap tersimpan, namun Anda tidak dapat lagi membuat janji dokter / chat online untuk pasien ini.</p>
    </div>

    <div class="card-footer d-flex justify-content-center">
        <button class="btn btn-outline-secondary me-5" data-bs-dismiss="modal" aria-label="Close">Batal</button>
        &nbsp;
        <button id="btnDelete" class="btn btn-danger">Hapus</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#staticModalLabel").text("@ViewBag.Title");

        // Serialize model Ids and convert them into a comma-separated string
        var selectedIds = @Html.Raw(Json.Serialize(Model.Select(x => x.Id).ToList()));
        var idsString = selectedIds.join(',');

        $("#btnDelete").click(function (e) {
            $.ajax({
                url: "/CustomerMember/MultipleDelete",
                type: "POST",
                data: {
                    ids: idsString
                },
                dataType: "json",
                beforeSend: () => {

                },
                success: function (response) {
                    if (response.statusCode == 200) {
                        location.reload();
                    }
                    else {
                        alert(response.statusCode + " - " + response.message);
                    }
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        });
    });
</script>
