@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-stethoscope fa-3x mb-3"></i>
                    <h5 class="card-title">Cari Dokter</h5>
                    <p class="card-text">Temukan dokter terbaik untuk kebutuhan Anda.</p>
                    <button id="btnDokter" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">
                        Cari Sekarang
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-file-medical-alt fa-3x mb-3"></i>
                    <h5 class="card-title">Detail Dokter</h5>
                    <p class="card-text">Lihat informasi lengkap tentang dokter.</p>
                    <button id="btnDetailDoctor" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">
                         Detail Dokter
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-capsules fa-3x mb-3"></i>
                    <h5 class="card-title">Cari Obat</h5>
                    <p class="card-text">Temukan informasi obat yang Anda butuhkan.</p>
                    <button id="btnCariObat" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">
                        Cari Obat
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnSearchDoctor").click(function () {
        $("#staticModalBody").html("");
        $("#staticModalBody").load("/Doctor/SearchDoctor");
    });

    $("#btnSearchMedicalItem").click(function () {
        $("#staticModalBody").html("");
        $("#staticModalBody").load("/MedicalItem/SearchMedicalItem");
    });
</script>