@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @if (Model != null)
        {
            @foreach (var menu in ViewBag.dataCoba as List<VMMMenuRole>)
            {
                @if (menu.ParentId != null && menu.RoleId == null)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="@menu.Url">
                                    <i class="fas @menu.BigIcon text-center" style="font-size: 50px;"></i>
                                    <p class="menu-name">@menu.Name</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        @*@for (int i = 0; i < 10; i++)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nama</h5>
                        <p class="card-text">Nama Menu</p>
                    </div>
                </div>
            </div>
        }*@
    </div>
</div>