@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < 10; i++)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nama</h5>
                        <p class="card-text">Nama Menu</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>