@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model long?;
@{
    Layout = null;
}

<div class="card mb-0">
    <div class="card-body mb-3">
        <p>Resep digital hanya berlaku selama 2 x 24 jam setelah resep diberikan</p>
    </div>

    <div class="card-footer d-flex justify-content-center">
        <button class="btn btn-outline-secondary me-5" data-bs-dismiss="modal" aria-label="Close">Batal</button>
        &nbsp;
        <button id="btnPrint" class="btn btn-primary">Cetak</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#staticModalLabel").text("@ViewBag.Title");

        $("#btnPrint").click(function (e) {
            $.ajax({
                url: "/AppointmentHistory/UpdatePrintAttempt",
                type: "POST",
                data: {
                    appointmentId: @Model
                },
                dataType: "json",
                beforeSend: () => {
                    // Change the button to show a spinner
                    $(this).html(`
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Sedang diproses...
                    `).attr("disabled", true); // Disable button while processing
                },
                success: function (response) {
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        let pdfUrl = "/AppointmentHistory/PrescriptionPdf?appointmentId=" + @Model;
                        let customerFullname = '@ViewBag.CustomerFullname';
                        let printAttempt = '@ViewBag.PrintAttempt';
                        fetch(pdfUrl)
                            .then(response => response.blob()) // Get the PDF as a Blob
                            .then(blob => {
                                // Create a link element, trigger download, and refresh page
                                let link = document.createElement('a');
                                let url = window.URL.createObjectURL(blob);
                                link.href = url;
                                link.download = `Resep-Digital-${customerFullname}-${printAttempt}.pdf`;
                                document.body.appendChild(link);
                                link.click(); // Trigger the download
                                link.remove(); // Remove the link after triggering download

                                // Refresh the current page after download
                                window.location.reload();
                            })
                            .catch(error => {
                                console.error("PDF download error:", error);
                                alert("Error downloading PDF.");
                            });
                    }
                    else {
                        location.reload();
                    }
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        });
    });
</script>