@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <p>@ViewBag.Message</p>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-10"></div>
        <div class="w-30"><button id="btnCancelEmpty" class="btn btn-outline-info">Cancel</button></div>
        <div class="w-10"></div>
        <div class="w-30"><button id="btnReturn" class="btn btn-info" data-bs-target="#staticModalLg">Pilih Jadwal Lain</button></div>
        <div class="w-10"></div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLgLabel").text("@ViewBag.Title");
        
        $("#btnCancelEmpty").click(function (e) {
            location.reload();
        });

        $("#btnReturn").click(function (e) {
            $("#staticModalLg").html();
            $("#staticModalLg").modal("hide");
        })
    });
</script>