@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmConfirmPasswordForgot">
    <div class="card mb-0">
        <div class="card-body">
            <div class="input-group">
                <label class="input-group-text col-3 text-white-600" for="txtPassword">Password</label>
                <input id="txtPassword" type="password" class="form-control col-9" name="Password" />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3 text-white-600" for="txtPassword">Konfirmasi Password</label>
                <input id="txtConfirmPassword" type="password" class="form-control col-9" name="confirmPassword" />
            </div>
            <div id="errorMsg" class="text-danger"></div>
        </div>
        <div class="card-footer ">
            <div class="text-center">
                <button id="sendPassword" type="submit" class="btn btn-primary text-lg fs-10">
                    <span>Konfirmasi Password</span>
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    //debugger;
    $("#staticModalLabel").text("@ViewBag.Title");

    function validatePassword(password) {
        // Password harus minimal 8 karakter, mengandung huruf besar, huruf kecil, angka, dan karakter khusus
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
        return regex.test(password);
    }



    $("#frmConfirmPasswordForgot").on('submit', function (e) {
        e.preventDefault();
        debugger;
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (!validatePassword(password)) {
            $("#errorMsg").text("Password harus minimal 8 karakter, mengandung huruf besar, huruf kecil, angka, dan karakter khusus.");
            return; // Hentikan proses submit jika password tidak valid
        }

        if (password !== confirmPassword) {
            $("#errorMsg").text("Password dan Konfirmasi Password tidak cocok!");
            return; // Hentikan proses submit jika password tidak cocok
        }

        $.ajax({
            //debugger;
            url: "/Register/ConfirmPassword",
            type: "POST",
            data: { password: password, confirmPassword: confirmPassword },
            beforeSend: function () {

            },
            success: function (response) {
                if (response.statusCode === 200) {
                    console.log("Response Status:", response.statusCode);
                    //debugger;
                    $("#staticModalBody").html("");
                    $("#staticModalBody").load("/Register/SignUp");
                    $("#staticModal").modal('show');
                } else {

                    alert(response.message);
                }
            },
            error: function (errResponse) {
                console.error(errResponse);

                alert("email anda sudah terdaftar silahkan ke menu login/lupa password");
            }
        });
    });
</script>
